src/jaxlab2/history.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="history" type="container">
        
    </xs:element>
    <xs:complexType name="messageInfo">
        <xs:sequence>
            <xs:element type="xs:byte" name="fromPhone"/>
            <xs:element type="xs:byte" name="toPhone"/>
            <xs:element type="xs:string" name="content"/>
            <xs:element type="xs:date" name="date"/>
            <xs:element type="xs:string" name="fontColor"/>
            <xs:element type="xs:string" name="fontFamily"/>
            <xs:element type="xs:byte" name="fontSize"/>
            <xs:element type="xs:string" name="isUnderline"/>
            <xs:element type="xs:string" name="isBold"/>
            <xs:element type="xs:string" name="isItalic"/>
            <xs:element type="xs:string" name="backgroundColor"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="content">
        <xs:sequence>
            <xs:element name="message" maxOccurs="unbounded" minOccurs="0" type="messageInfo"> 
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="container">
        <xs:sequence>
            <xs:element name="messages" type="content">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>